@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

header {
  padding: 1rem;
}

header>h1 {
  font-size: 36px;
  text-align: center;
  font-weight: bold;
  color: #3d88de;
}

header>a {
  width: 100%;
  font-size: 14px;
  text-align: center;
  font-style: italic;
  text-decoration: underline;
  text-decoration-color: aquamarine;
}

main {
  padding: 0 20px;
  padding-bottom: 20px;
}

.main__list {
  display: grid;
  grid-auto-rows: 1fr;
  grid-template-columns: repeat(auto-fill, minmax(min(100%, 350px), 1fr));
  gap: 12px
}

.card {
  border-radius: 10px;
  background-color: burlywood;
  overflow: hidden;

  box-shadow: -2px -1px 7px -1px rgba(0, 0, 0, 0.14);
  -webkit-box-shadow: -2px -1px 7px -1px rgba(0, 0, 0, 0.14);
  -moz-box-shadow: -2px -1px 7px -1px rgba(0, 0, 0, 0.14);
}

.card:hover {
  transform: scale(102%);
  transition: transform 0.2s linear;

  box-shadow: -2px -1px 7px -1px rgba(0, 0, 0, 0.20);
  -webkit-box-shadow: -2px -1px 7px -1px rgba(0, 0, 0, 0.20);
  -moz-box-shadow: -2px -1px 7px -1px rgba(0, 0, 0, 0.20);
}

.card__preview {
  overflow: hidden;
}

.card__info {
  padding: 8px;
  background-color: whitesmoke;
}

.card__title {
  margin-bottom: 6px;
  font-weight: 500;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.card__tag {
  display: flex;
  gap: 6px;
}

.card__tag>p {
  font-size: 10px;
}

.card__tag>p>span {
  font-size: 12px;
  color: rgb(135, 135, 250);
}

@media screen and (min-width: 1024px) {
  main {
    padding-left: 100px;
    padding-right: 100px;
  }
}